 *{
  box-sizing: border-box;
 }

 body{
  margin: 0;
  background-color: rgb(177, 183, 210);
  margin-left: 600px;
 }
.resetbutton{
    margin-left: 70px;
    margin-top: 20px;
} 

.currentplayer{
    margin-left: 60px;
    font-size: 20px;
}
.winningplayer{
    margin-left: 60px;
    font-size: 20px;
}
.draw{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 20px;
}
.player-x{
    color: red;
}
.player-o{
   color: blue ;
}
.winningplayer-x{
    color: red;
}
.winningplayer-o{
    color: blue ;
}

 